body {
  background-color: paleturquoise;
}

/* siting myself here again, from my tic tac toe project */
.container {
  border: 1px solid gold;
  display: flex;
  justify-content: center;
}

.wrapper {
  border: 1px solid crimson;
  display: flex;
}

.column {
  border: 1px solid plum;
  display: flex;
  flex-direction: column-reverse;
}

/* siting https://css-tricks.com/the-shapes-of-css/ here */
.circle {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: red;
}
.yellow {
  background-color: yellow;
}

.cell {
  border-left: solid mintcream;
  border-right: solid mintcream;
  border-bottom: solid mintcream;
  border-top: solid mintcream;
  height: 100px;
  width: 100px;
}
