body {
  background-color: paleturquoise;
}

/* siting myself here again, from my tic tac toe project */
.container {
  border: 1px solid gold;
  display: flex;
  justify-content: center;
}

.wrapper {
  border: 1px solid crimson;
}

.column {
  display: flex;
  flex-direction: row;
}

/* siting https://css-tricks.com/the-shapes-of-css/ here
.square {
    border-radius
} */

.cell1 {
  border-left: solid mintcream;
  border-right: solid mintcream;
  border-bottom: solid mintcream;
  border-top: solid mintcream;
  height: 100px;
  width: 100px;
  display: flex;
  flex-wrap: wrap;
}

.cell2 {
  border-bottom: solid mintcream;
  border-top: solid mintcream;
  height: 100px;
  width: 100px;
}

.cell3 {
  border-right: solid mintcream;
  border-left: solid mintcream;
  border-bottom: solid mintcream;
  border-top: solid mintcream;
  height: 100px;
  width: 100px;
}

.cell4 {
  border-right: solid mintcream;
  border-bottom: solid mintcream;
  height: 100px;
  width: 100px;
}

.cell5 {
  border-bottom: solid mintcream;
  border-left: solid mintcream;
  height: 100px;
  width: 100px;
}

.cell6 {
  border-right: solid mintcream;
  border-left: solid mintcream;
  border-bottom: solid mintcream;
  height: 100px;
  width: 100px;
}

.cell7 {
  border-right: solid mintcream;
  border-bottom: solid mintcream;
  height: 100px;
  width: 100px;
}
.cell8 {
  border-bottom: solid mintcream;
  border-left: solid mintcream;
  /* border-style: hidden; */
  height: 100px;
  width: 100px;
}

.cell9 {
  border-left: solid mintcream;
  border-bottom: solid mintcream;
  height: 100px;
  width: 100px;
}

.cell10 {
  border-right: solid mintcream;
  border-left: solid mintcream;
  border-bottom: solid mintcream;
  height: 100px;
  width: 100px;
}
