body {
  background-color: paleturquoise;
  text-align: center;
}

h1 {
  text-align: center;
  color: darksalmon;
}
.results {
  color: grey;
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px
  
}
/* siting myself here - from my tic tac toe project from here */
.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  background-color: cornflowerblue;
  margin-top: 5%;
}

/* .row {
  border: 1px solid plum;
  display: flex;
  flex-direction: row-reverse;
} */

.column {
  display: flex;
  flex-direction: column-reverse;
}
.column:hover {
  cursor: pointer;
  background-color: darkgray;
}

/* siting https://css-tricks.com/the-shapes-of-css/ here */
.circle {
  border-radius: 50%;
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 5%;
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.background-fill {
  background-color: paleturquoise;
}
/* siting myself here - from my tic tac toe project from here */
.cell {
  border: 3px solid cornflowerblue;
  height: 7em;
  width: 7em;
}

@media only screen and (max-width: 800px) {
  .cell {
    height: 5em;
    width: 5em;
  }
}

@media only screen and (max-width: 678px) {
  .cell {
    height: 2em;
    width: 2em;
  }
}
