body {
  background-color: paleturquoise;
}

/* siting myself here - from my tic tac toe project from here */
.container {
  border: 1px solid gold;
  display: flex;
  justify-content: center;
}

.wrapper {
  border: 1px solid crimson;
  display: flex;
  background-color: cornflowerblue;
}

/* .row {
  border: 1px solid plum;
  display: flex;
  flex-direction: row-reverse;
} */

.column {
  border: 1px solid plum;
  display: flex;
  flex-direction: column-reverse;
}
.column:hover {
  cursor: pointer;
  background-color: darkgray;
}

/* siting https://css-tricks.com/the-shapes-of-css/ here */
.circle {
  border-radius: 50%;
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 5%;
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.background-fill {
  background-color: paleturquoise;
}
/* siting myself here - from my tic tac toe project from here */
.cell {
  border: 3px solid cornflowerblue;
  height: 100px;
  width: 100px;
}



